@page "/dailyActivityRecord/{StudentId:int}"

<h3>DailyActivity</h3>

Get student name

Date
Time
Adjust or Now

Wet diaper
Dirty diaper

Ate half of breakfast
Ate very little breakfast
Refused breakfast

Ate half of lunch
Ate very little lunch
Refused lunch


Ate half of snack
Ate very little snack
Refused snack

Need wipes
Need diapers
Need diaper cream

Event coming up
Message field
